<a href="https://colab.research.google.com/github/Roselin22/MLclasses/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [40]:
#taking my own reduce function
def do_sum(x1, x2): 
    return x1 + x2

#defining my_reduce function
def my_reduce(func, seq):
    first = seq[0]
    for i in seq[1:]:
        first = func(first, i)
    return first

print(my_reduce(do_sum, [1, 2, 3, 4]))

10

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [51]:
#defining my filter function
def myfilter(anyfunc, sequence):

 result = []
 for i in sequence:
  if anyfunc(i):
   result.append(i)
 return result

# taking my own my filter function
def isdivisible(x):
 if (x%2 == 0): 
  return True 
 else:
  return False

print("The numbers which are divisible by 2 from list[6,0,1,3,4,8] are: " +str(myfilter(isdivisible,[6,0,1,3,4,8])))

The numbers which are divisible by 2 from list[6,0,1,3,4,8] are: [6, 0, 4, 8]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [42]:

list = ['x','y','z']
result = [ item*num for num in range(1,5) for item in list  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [43]:
list = ['x','y','z']
result = [ item*num for item in list for num in range(1,5)  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [44]:
list = [2,3,4]
result = [ [item+num] for item in list for num in range(0,3)]
print("[2,3,4] =>" +  str(result))

[2,3,4] =>[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7],[5, 6, 7, 8]]

In [45]:
list = [2,3,4,5]
result = [ [item+num for item in list] for num in range(0,4)  ]
print("[2,3,4,5] =>" +  str(result))

[2,3,4,5] =>[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [52]:
list=[1,2,3]
result = [ (b,a) for a in list for b in list]
print("[1,2,3] =>" +  str(result))

[1,2,3] =>[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]